.user-banner {
    --color: #8f8f8f;
    height: 400px;
    width: 100%;
    background: var(--color);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .user-profile-pic {
        border: 1px solid white;
        border-radius: 50%;
        width: 250px;
        height: 250px;
        margin-bottom: 20px; 

        /*for future -> placing inside the circle*/
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-name{
        font-size: 1.2rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
    }
}


.user-box{
    display: flex;
    gap: 25px;
    >*{
        flex-grow: 1;
        padding: 1em;
        border: 1px solid rgb(255, 255, 255);
    }

    h1{
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 0.1rem;
        text-decoration: underline;
    }
}