@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.root-container{
  display: flex;
  flex-direction: column;
  
  >* {
    /* border: 1px solid white; */
    /* padding: 2em; */
  }
  
}

.home-container {
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  >* {
    border: 1px solid transparent;
    scroll-snap-align: start;
  }
}

.organisations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.organisations-section,
.employee-organisations-section {
  flex: 1;
  margin: 0 10px;
}
