@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

li a:hover {
  background-color: rgb(138, 138, 145);
}

h1{
  font-size: 1.8em;
}

h2{
  font-size: 1.6em;
}

.toast-style{
    /* color: red;
    background-color: aqua; */
}

.b-child{
  >*{
    border: 1px solid white;
    padding: 12px;
  
  }
}


.organisations-container{
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 1373px;
  flex-grow: 2;
  flex-wrap: wrap;
  height: 90vh;
  overflow-y: auto;

  .layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: .5em;
    margin: auto;
  }
}

.orgy{
    background-color: #2d3748; /* bg-gray-800 */
    padding: 1rem; /* p-4 */
    border-radius: 0.5rem; /* rounded-lg */
    width: 440px;
    
    white-space: normal; /* Ensure text wraps */
    word-wrap: break-word; /* Break long words */

    &:hover{
      background-color: #4a5568; /* bg-gray-700 */
    }
}


.organisation-id {
  display: flex;
  flex-direction: column;
  justify-content: center;

  >*{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  
  .organisation-id-credentials>*{
      border: 1px solid white;
    }
  

  .organisation-id-details{
    justify-content: start;
  }
  
  h1{
    font-size: 1.4em;
  }
  h2{
    font-size: 1.2em;
  }
}
  
  







/* Class to apply the shake animation */
.shake-animation {
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
